.o-fb-child {
    margin : 0 15px;
    &--order-1 {
        order : 1;
    }
    &--order-2 {
        order : 2;
    }
    &--order-3 {
        order : 3;
    }
    &--order-4 {
        order : 4;
    }
    &--order-5 {
        order : 5;
    }
    &--order-6 {
        order : 6;
    }
    &--order-7 {
        order : 7;
    }
    &--order-8 {
        order : 8;
    }
    &--order-9 {
        order : 9;
    }
    &--order-10 {
        order : 10;
    }
    &--order-11 {
        order : 11;
    }
    &--order-12 {
        order : 12;
    }
    &--grow-1 {
        flex-grow : 1;
    }
    &--grow-2 {
        flex-grow : 2;
    }
    &--grow-3 {
        flex-grow : 3;
    }
    &--grow-4 {
        flex-grow : 4;
    }
    &--grow-5 {
        flex-grow : 5;
    }
    &--grow-6 {
        flex-grow : 6;
    }
    &--grow-7 {
        flex-grow : 7;
    }
    &--grow-8 {
        flex-grow : 8;
    }
    &--grow-9 {
        flex-grow : 9;
    }
    &--grow-10 {
        flex-grow : 10;
    }
    &--grow-11 {
        flex-grow : 11;
    }
    &--grow-12 {
        flex-grow : 12;
    }
    &--shrink-1 {
        flex-shrink : 1;
    }
    &--shrink-2 {
        flex-shrink : 2;
    }
    &--shrink-3 {
        flex-shrink : 3;
    }
    &--shrink-4 {
        flex-shrink : 4;
    }
    &--shrink-5 {
        flex-shrink : 5;
    }
    &--shrink-6 {
        flex-shrink : 6;
    }
    &--shrink-7 {
        flex-shrink : 7;
    }
    &--shrink-8 {
        flex-shrink : 8;
    }
    &--shrink-9 {
        flex-shrink : 9;
    }
    &--shrink-10 {
        flex-shrink : 10;
    }
    &--shrink-11 {
        flex-shrink : 11;
    }
    &--shrink-12 {
        flex-shrink : 12;
    }
    &--basis-100 {
        flex-basis : 100px;
    }
    &--basis-100 {
        flex-basis : 100px;
    }
    &--basis-200 {
        flex-basis : 200px;
    }
    &--basis-250 {
        flex-basis : 250px;
    }
    &--basis-300 {
        flex-basis : 300px;
    }
    &--basis-400 {
        flex-basis : 400px;
    }
    &--basis-800 {
        flex-basis : 800px;
    }
}
