.c-primary-box {
    background    : $color-white;
    border        : 1px solid $color-third;
    color         : $color-font-secondary;
    padding       : 15px;
    margin-top    : 10px;
    margin-bottom : 10px;
}
